
.CR_002_B1{color:#22223B !important;}

.CR_002_B1_S{color:#22223B !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_002_B2{color:#7a7c8b !important;}

.CR_002_B2_S{color:#7a7c8b !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_002_B3{color:#AE2856 !important;}

.CR_002_D1{color:#ffffff !important;}

.CR_002_D1_S{color:#ffffff !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_002_D2{color:#d9dbe5 !important;}

.CR_002_D2_S{color:#d9dbe5 !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_002_D3{color:#5e637d !important;}

.CR_002_D3_S{color:#5e637d !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_002_D4{color:#d9dbe5 !important;}

.CR_002_D4_S{color:#d9dbe5 !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_002_O_D1{color:#ffffff !important;}

.CR_002_O_D1_S{color:#ffffff !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_002_O_D2{color:#d9dbe5 !important;}

.CR_002_O_D2_S{color:#d9dbe5 !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_003_B{color:#ff3e47 !important;}

.CR_003_B_S{color:#ff3e47 !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_003_D{color:#ff4f62 !important;}

.CR_003_D_S{color:#ff4f62 !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_003_O_D{color:#ff4f62 !important;}

.CR_003_O_D_S{color:#ff4f62 !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_004_B{color: #007aff !important;}

.CR_004_B_S{color: #007aff !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_004_D{color: #008bff !important;}

.CR_004_D_S{color: #008bff !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_005_B{color: #fb643c !important;}

.CR_005_B_S{color: #fb643c !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_005_D{color: #ff6835 !important;}

.CR_005_D_S{color: #ff6835 !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_006_B{color: #22223b !important;}

.CR_006_B_S{color: #22223b !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_006_D{color: #e4e5ec !important;}

.CR_006_D_S{color: #e4e5ec !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_006_O_D{color: #e4e5ec !important;}

.CR_006_O_D_S{color: #e4e5ec !important; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;}

.CR_007{-webkit-box-shadow: inset 0px 0px 0px 4px #ff3e47 !important;}

.CR_007_O_D{color: #a9abbb !important;}

.CR_008{-webkit-box-shadow: inset 0px 0px 0px 4px #007aff !important;}

.CR_009{-webkit-box-shadow: inset 0px 0px 0px 4px #22223b !important;}

.CR_010{color:#9db4fa !important;}

.CR_011{color:#82838e !important;}

.CR_012{color:#8e8dff !important;}

.CR_013{color:#a9abbb !important;}

.CR_013_1{color:#a9abbb !important;}

.CR_013_2{color:#d9dbe5 !important;}

.CR_013_3{color:#d9dbe5 !important;}

.CR_013_4{color:#a9abbb !important;}

.CR_014{color:#81818d !important;}

.CR_015{color:#ff3552 !important;}

.CR_016{color:#73747f !important;}

.CR_017{color:#9499b3 !important;}

.CR_018{color:#9499b3 !important;}

.CR_020{-webkit-box-shadow: inset 0px 0px 0px 4px #3fa690 !important;}

.CR_C01{color:#ffffff !important;}

.CR_C02{color:#22223b !important;}

.CR_C03{color:#a9abbb !important;}

.CR_C04{color:#ffffff !important;}

.CR_C05{color:#ffffff !important;}

.CR_C06{color:#ffffff !important;}

.CR_C07{color:#e4e5ec !important;}

.CR_C08{color:#ffffff !important;}

.CR_C09{color:#ffffff !important;}

/*2018 written by Choi Se Yeol*/
.fc_red1 {color:#e21a22 !important;}

